@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Nabla&family=Rubik+Iso&display=swap");
:root {
  --mainColor: #227b94;
  --secondaryColor: #78b7d0;
  --thirdColor: #16325b;
  --fourthColor: ;
  --textColor: #ffdc7f;
  --mainText: "Nabla", "sans-serif";
  --secondaryText: "Rubik Iso", "sans-serif";
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--mainText);
}
#page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 6fr;
  background-color: var(--mainColor);
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  font-size: 2.5em;
}
#gameboard {
  margin: 1em;
}
#player-board {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 5fr;
}
#computer-board {
  position: relative;
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 5fr;
}
.board-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-family: var(--secondaryText);
  color: var(--textColor);
}
.board-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 280px;
  height: 280px;
}
.square {
  border: 1px solid var(--secondaryColor);
}
#ships-pop-up {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.385);
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
}
.pop-up-cont1 {
  grid-row: 1 /2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pop-up-cont2 {
  grid-row: 2/3;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}
.ship-img {
  width: 100px;
}
#ship-picker-log-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
#ship-picker-log {
  font-family: var(--secondaryText);
  font-size: 1.5em;
  color: var(--textColor);
}
